APscheduler >= 3.0.0
pydantic == 0.32.2
pyyaml >= 3.0
passlib >= 1.7.0
semver
jsonschema == 2.6.0
redis
aioredis == 1.3.0
requests
jsonpatch
asteval == 0.9.16
cryptography
tenacity
uvicorn == 0.12.3
fastapi == 0.60.2
email-validator
motor
aiofiles
python-multipart
pyjwt
python-socketio == 4.6.1
websocket-client
minio == 6.0.2
aiodocker == 0.14.0
docker
